body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-image: url("https://mcdn.wallpapersafari.com/medium/55/58/Mt3QVP.gif");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  /* min-height: 100vh; */
  margin: 0; /* Remove default margin */
  font-family: sans-serif;
}
